<h1>詳細</h1>
<p>
  タイトル:<br>
  <%= @book.title %>
</p>

<p>
  名前:<br>
  <%= @book.name %>
</p>

<p>
  本文:<br>
  <%= @book.content %>
</p>

<% if @book.rating.present? %>
      <p>評価: <%= "★" * @book.rating + "☆" * (5 - @book.rating) %></p>
<% else %>
      <p>評価: 未評価</p>
<% end %>

<% if @book.image_url.present? %>
  <img src="<%= @book.image_url %>" alt="<%= @book.title %>の表紙" width="200">
<% end %>

<p>
  著者:<%= @book.author %>
</p>

<h2>返信一覧</h2>
<% @book.reviews.each do |review| %>
  <p>
    名前:<br>
    <%= review.name %>
  </p>
  <p>
    本文:<br>
    <%= review.content %>
  </p>
  <p>
    <%= link_to '返信を削除', [review.book, review],
      data: { turbo_method: 'delete', turbo_confirm: '本当に消しますか？' } %>
  </p>
<% end %>

<h2>返信する</h2>
<%= form_with model: [@book, @book.reviews.build] do |form| %>
  <div>
    <%= form.label :name, "名前"  %><br>
    <%= form.text_field :name %>
  </div>
   <div>
    <%= form.label :content, "本文"  %><br>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.submit "作成"  %>
  </div>
<% end %>

<%= link_to 'トップへ', books_path %>


